/* -------- Forms -------- */
.required:after {
    content: " *";
    font-weight: bold;
    font-size: 18px;
    color: red;
}
header{
    padding-top: 5vh;
    padding-left: 4em;
  }
  
html, main, #app{
    background-color: rgb(200,200,200) !important;
}

html, body, #app, content *{
    height: 100% !important;
}
body, #app, content *{
  min-height: 100% !important;
}

body{
    color: rgb(0,0,0);
    font-weight: 500;
}

.form-control{
    max-width: 15em;
    border: 2px solid #000000 !important;
  }

.btn-dark{
    color: rgb(220,220,220) !important;
    font-weight: 500 !important;
    border: 1px solid #000000 !important;
}

.table-dark{
    // max-width: 60em;
    background-color: rgb(90,90,90) !important;
}

.textarea_width{
    max-width: 25em;
  }

#app{
    position: relative;
    // min-height: 100vh;
    padding-bottom: 6rem !important;
}
main{
  padding-bottom: 5rem;
}

.el-menu, #footer {
    background-color: rgb(142, 142, 142) !important;
  }

.createContainer{
    padding-left: 15em !important;
}

.container{
  max-width: 80em !important;
  padding-left: 5em !important;
}