/* -------- Forms -------- */
.required:after {
    content: " *";
    font-weight: bold;
    font-size: 18px;
    color: red;
}
header{
    padding-top: 1rem;
    padding-left: 6rem;
  }
  
html, main, #app{
    // background-color: rgb(200,200,200) !important;
}

html, body, #app, content *{
    height: 100% !important;
}
body, #app, content *{
  min-height: 100% !important;
  background-color: #8e652a;
}

body{
    color: rgb(0,0,0);
    font-weight: 500;
}

.form-control{
    max-width: 15rem;
    border: 2px solid #000000 !important;
  }

.btn-dark{
    // color: rgb(220,220,220) !important;
    font-weight: 500 !important;
    border: 1px solid #000000 !important;
}

.table-dark{
    background-color: rgb(90,90,90) !important;
}

.table-dark, .table{
    // max-width: 60% !important;
    // width: 100% !important;
    table-layout: fixed;
}

.textarea_width{
    max-width: 25rem;
  }

#app{
    position: relative;
    // min-height: 100vh;
    padding-bottom: 6rem !important;
}
main{
  padding-bottom: 5rem;
}

.cardBorder {
  border:1px solid #000000;
  border-radius: 5px;
}

.el-menu, #footer {
    background-color: rgb(142, 142, 142) !important;
  }

.createContainer{
    padding-left: 15rem !important;
}

.container, .mainContainer{
  max-width: 80rem !important;
  margin-left: 12.5rem !important;
  // padding-left: 5rem !important;
}

.mainContainer{
  padding-top: 3rem;
}

.containerCard, .card{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1.2rem;
}

.containerCard{
  background-color: rgb(200,200,200) !important;
}
